* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #E699D8, #F29B96);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right top, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 20px;
    display: flex;
    z-index: 2;
    backdrop-filter: blur(1rem);
}

.bubble1{
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.3));
    height: 15rem;
    width: 15rem;
    position: absolute;
    top: 1%;
    right: 10%;
    border-radius: 50%;
}

.bubble2{
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.3));
    height: 26rem;
    width: 26rem;
    position: absolute;
    bottom: 1%;
    left: 5%;
    border-radius: 50%;
}


.bubble3{
    background: white;
    background: linear-gradient(to right top, rgba(255,255,255,0.4), rgba(255,255,255,0.1));
    height: 10rem;
    width: 10rem;
    position: absolute;
    bottom: 2%;
    left: 2%;
    border-radius: 50%;
}

.bubble4{
    background: white;
    background: linear-gradient(to left bottom, rgba(255,255,255,0.4), rgba(255,255,255,0.1));
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 4%;
    right: 5%;
    border-radius: 50%;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right top, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 20px;
}

.things {
    flex: 2;
}

